body {
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

h1 {
    position: absolute;
    font-weight: bold;
    font-family: monospace;
    font-size: 2rem;
    text-transform: uppercase;
    top: 0.4em;
    left: 1em;
    bottom: 0;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div img {
    position: relative;
    width: 70%;
    max-height: 100%;
    top: 8em;
    left: 7em;
}

div:last-of-type {
    position: relative;
    top: 100px;
}

div h2 {
    font-size: 3.5rem;
    margin-right: 2em;
}

div p {
    font-size: 1.2em;
}

div button {
    margin-top: 1.5em;
}


#button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
}

img {
    position: fixed;
    z-index: -1;
}

footer {
    position: absolute;
    width: 100%;
    padding: 15px 19em;
    clear: both;
    background: #000;
    color: white;
    top: 93%;
    left: 0;
    bottom: 0;
}

footer a {
    text-decoration: none;
}

@media (max-width:500px) {
    section {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        margin: 0;
        padding: 0;
        float: none;
    }

    div {
        margin: 1em 1em 0;
    }

    div h2{
        font-size: 2em;
    }

    div p {
        font-size: 1em;
    }

    div img {
        position: relative;
        left: 15%;
        right: auto;
        min-width: 50%;
    }
    footer {
        position: absolute;
        width: 100%;
        padding: 4px 0;
        clear: both;
        background: #000;
        color: white;
        top: 93%;
        left: 0;
        bottom: 0;
        font-size: 0.8em;
        text-align: center;
    }
