body {
    overflow-y: hidden;
    position: relative;
    min-height: 95vh;
}

main {
    font-family: 'Space Mono', monospace;
}

h1 {
    position: absolute;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    top: 0.4em;
    left: 1em;
}

img {
    position: absolute;
    top: 10em;
    left: 2em;
    width: 40%;
}

main div {
    position: absolute;
    width: 55%;
    right: 0;
    top: 12em;
    bottom: 0;
}

main div h2 {
    font-size: 3em;
}

main div p {
    width: 40%;
    font-size: 1.2em;
}

div button {
    margin-top: 1.5em;
}

#button {
    border: none;
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    color: rgb(251, 163, 163);
    text-align: center;
}

footer a {
    text-decoration: none;
}

@media screen and (max-width:900px) {
    body {
        position: relative;
    }

    h1 {
        margin: 0;
        font-size: 1rem;
        top: 0.4em;
        left: 0;
    }

    img {
        /* display: block; */
        position: absolute;
        top: 4em;
        left: 0;
        width: 100%;
    }
    
    main div {
        position: absolute;
        top: 22em;
        margin: 0 auto;
        width: 100%;
    }
    
    main div h2 {
        top: 0;
        font-size: 1.6em;
        margin: 0;
    }
    
    main div p {
        font-size: 1em;
        width: 100%;
    }

    #button {
        margin-top: 0;
        padding: 20px;
    }

    footer {
    position: absolute;
    bottom: 0;
    margin-top: 3em;
    width: 100%;
    color: rgb(251, 163, 163);
    text-align: center;
    }
}
